<div class="home-content">
  <h1 class="display-4">Scholarlly Wallet</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sem augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam lacinia dictum augue varius eleifend. Suspendisse maximus nec lacus at sagittis. Duis maximus, quam at volutpat tempor, tortor nulla volutpat ante, nec convallis sapien mi a mauris. Pellentesque interdum, nulla sit amet fermentum accumsan, nulla erat congue magna, sit amet maximus velit velit ac neque. Sed et blandit est, at commodo dui. Pellentesque id orci id orci elementum posuere vitae ut enim. Nunc congue nisi fermentum condimentum eleifend. Pellentesque eu erat volutpat, volutpat diam malesuada, lobortis turpis. Ut congue, lacus quis interdum ornare, nisi risus commodo urna, id vehicula massa orci vel sem. Quisque aliquet ipsum fringilla tincidunt faucibus. Phasellus at consequat mi. Nullam eu vehicula tellus. Aliquam eget ligula placerat, tempus enim nec, ultricies eros.
  </p>
  <p>

  Vivamus ut porta nibh. Aenean vel posuere nunc. Praesent at porta tortor. Aliquam ullamcorper augue non consequat pretium. Nunc id ullamcorper orci, ut mattis nunc. Mauris cursus ante leo, sed commodo lorem lobortis ut. Aenean sed neque finibus, ullamcorper velit quis, porttitor neque. In non ultrices sapien. Proin tempor magna pulvinar imperdiet venenatis.
  </p>
</div>
