<div class="add-ro-container mat-elevation-z1">
    <a *ngIf="loading" mat-raised-button href='https://github.com/login/oauth/authorize?scope=user:email&client_id=8442d1cbd0110eb451db' color="primary"><mat-icon fontSet="fab" fontIcon="fa-github-square"></mat-icon>&nbsp;CONNECT YOUR GITHUB ACCOUNT</a>
    <mat-selection-list #selectedRepositories>
      <mat-list-option *ngFor="let repository of repositories" [value]="repository">
        <mat-icon mat-list-icon fontSet="fab" fontIcon="fa-github-square"></mat-icon>
        <h4 mat-line>{{repository.full_name}}</h4>
        <p mat-line> {{repository.created_at | date}} </p>
      </mat-list-option>
    </mat-selection-list>
    <button *ngIf="!loading" [disabled]="selectedRepositories.selectedOptions.selected.lenght === 0" mat-raised-button color="primary" style="float: right;" (click)="claim(selectedRepositories.selectedOptions.selected)"><mat-icon>outlined_flag</mat-icon>&nbsp;CLAIM {{selectedRepositories.selectedOptions.selected.lenght}} RESEARCH OBJECTS</button>
</div>
