<div class="container" id="tableTop" [hidden]="notFound" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
  <div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div class="table-controllers" [hidden]="!claimable">
  <div>
    <button mat-raised-button color="accent" class="add-button" (click)="claim()">
      <mat-icon>add</mat-icon> CLAIM FROM {{source | uppercase}}
    </button>
  </div>
</div>

<div
 *ngIf="!notFound"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="stretch" style="width: 100%;">
  <b4os-ro-card *ngFor="let repository of repositories" [ro]="repository" [source]="source" class="repo-card"
  fxFlex="0 1 calc(33.3% - 32px)"
  fxFlex.lt-md="0 1 calc(50% - 32px)"
  fxFlex.lt-sm="100%"></b4os-ro-card>
</div>

<div [hidden]="isLoadingResults || notFound" class="bottom-pag">
  <mat-paginator #paginatorBottom class="full-width-paginator"
  [showFirstLastButtons]="true"
  [length]="resultsLength"
  [pageIndex]="0"
  [pageSize]="6"
  [pageSizeOptions]="[6, 12, 24]"
  (page)="scrollToTop()"
  >
</mat-paginator>
</div>
<div [hidden]="!notFound" class="not-found-alert">
    <h2>NO CLAIMED RESEARCH OBJECTS FROM {{source | uppercase}} FOUND</h2>
  </div>
</div>

